body{
}
.parent{

    background-color: wheat;
    padding :  30px 30px 30px 30px;
    margin-top: 150px;
    
}
.child{
    display: inline-block;
    vertical-align: middle;
    border: 1px solid white;
    
    width: 300px;
    height: 400px;
}

#text{
    background-color: white;
    margin-left: -5px;

}
/*  the big picture   */
#image1{
    width: 100%;
    height: 100%;
}

/*   first teext on the texxt section "perfuume" */
#ftext{
    letter-spacing: 10px;
    text-align: left;
    padding-left: 40px;
    font-weight: lighter
    ;
}

h1{
    font-size: 30px;
    text-align: left;
    padding-left: 40px;
}

p{    text-align: left;
    padding-left: 40px;
}

/* thhe pricee wwith green  colour  */
#amt{
    color: green;
    font-weight: 900;
    font-size: 30px;
    display: inline;
    padding: 0 30px 0 0;
    
}
/* the colourless  pricee */
#famt{
    display: inline;
    text-align: left;
    text-decoration: line-through;

}

/*  the add button   */
#add_btn{
    background-color: green;
    color: white;
    width: 200px;
    height: 35px;
    border-radius: 5px;
    margin-top: 30px;
    display: block;

}

#add_btn:hover{
    background-color: lightgreen;
    color: black;
}
